<div class="container-fluid">
    <div class="row my-3">

      <div class="col-1">
      </div>
      <div class="col">
        <div class="row my-3">
          <h2 class = "fw-bold offset-md-1">Información de Repartidor</h2>
        </div>
        <form #form="ngForm" (ngSubmit)="onGuardar()">
            <div class="row">

              <div class="col text-center">
                <div class="row mt-4 right"><label for = "nombre" class="form-label">Nombre</label></div>
                <div class="row mt-4 right"><label for = "apellidos" class="form-label">Apellidos</label></div>

                <div class="row mt-4 right"><label for = "usuario" class="form-label">Usuario</label></div>

                <div class="row mt-4 right"><label for = "correo" class="form-label">Correo</label></div>

              </div>
              <div class="col">
                <div class="row mt-4"><input type = "text" class="form-control" name = "nombre" [(ngModel)] = "objeto.nombre"></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "apellidos" [(ngModel)] = "objeto.apellidos"></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "usuario" [(ngModel)] = "objeto.usuario"></div>
                <div class="row mt-4"><input type = "email" class="form-control" name = "correo" [(ngModel)] = "objeto.correo"></div>

              </div>
              <div class="col-1"></div>

              <div class="col text-center">

                <div class="row mt-4 right"><label for = "provincia" class="form-label">Provincia</label></div>
                <div class="row mt-4 right"><label for = "canton" class="form-label">Cantón</label></div>
                <div class="row mt-4 right"><label for = "distrito" class="form-label">Distrito</label></div>
                <div class="row mt-4 right"><label for = "apellidos" class="form-label">Teléfonos</label></div>

              </div>
              <div class="col">
                <div class="row mt-4">
                  <select class="form-select" id="provincia" [(ngModel)]="objeto.provincia" name="provincia" (click)="selected()">
                    <!--<option *ngFor="let provincia of provincias" [value]="provincia" >{{provincia}}</option>-->
                    <ng-template ngFor let-provincia [ngForOf] = "provincias"; let-i="index">
                      <option [value] ="provincia">{{provincia}}</option>
                    </ng-template>
                  </select>
                </div>
                <div class="row mt-4">
                  <select class="form-select" id="canton" name="canton" [(ngModel)]="objeto.canton" name="canton" (click)="selectedcant()">
                    <option *ngFor="let canton of cantones"  [value]="canton" name="Canton">{{canton}}</option>
                  </select>
                </div>
                <div class="row mt-4">
                  <select class="form-select" name="distrito" [(ngModel)]="objeto.distrito" name="distrito">
                    <option *ngFor="let distrito of distritos" [value]="distrito" name="Distrito">{{distrito}}</option>
                  </select>
                </div>

                <div class="row mt-4"><a class="btn btn-primary" (click) = onTelefonos() style= "width: 100%" data-bs-toggle="modal" data-bs-target="#editarTelefonos">Añadir Teléfono</a></div>


              </div>

            </div>
            <div *ngIf="editMode; else newMode">
              <div class="row my-5">
                <div class="col"></div>

                <div class="col text-center offset-md-1"> <button type="submit" class="btn btn-outline-primary"> Actualizar </button> </div>
                <div class="col text-center"> <a role="button" type="button" (click) = onEliminar() class="btn can btn-primary"> Eliminar </a></div>
                <div class="col text-center"> <a role="button" type="button" (click) = onCancelar() class="btn can btn-primary"> Cancelar </a></div>
                <div class="col"></div>
              </div>
            </div>

            <ng-template #newMode>
              <div class="row my-5">
                <div class="col"></div>
                <div class="col text-center offset-md-1"> <button type="submit" class="btn btn-outline-primary"> Añadir </button> </div>
                <div class="col text-center"> <a role="button" type="button" (click) = onCancelar() class="btn can btn-primary"> Cancelar </a></div>
                <div class="col"></div>
              </div>
            </ng-template>
          </form>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>


  <div class="modal fade" id="editarTelefonos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Teléfonos de Repartidor</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-3">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="col-3">
                  <label for = "newTelefono" class="form-label h3 fw-bold">Teléfono</label>
                </div>
                <div class="col">
                  <input type = "number" class="form-control" name = "newTelefono" [(ngModel)] = "telefonoNuevo.telefono">
                </div></div>

              <div class="col">
                <button #closebutton class="btn btn-default" data-bs-dismiss="modal" (click) = onAddTelefono() style="width: 100%; height: 100%;">Añadir Teléfono</button>
              </div>
            </div>
            <div class="row my-3">
              <div *ngFor="let tel of listaTelefonos; let i=index">
                <div class="row mt-4 style">
                  <div class="col-2"><button type="submit" data-bs-dismiss="modal" (click) = onDeleteTelefono(tel) class="btn btn-outline-primary"> Eliminar </button></div>
                  <div class="col-2"></div>
                  <div class="col-4 gy-2" >Teléfono {{i+1}}:</div>
                  <div class="col gy-2">{{tel.telefono}}</div>
                  <div class="col-2"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
