<div class="container py-5">
    <div class="row">
        <div class ="col" style= "align-items: center">
        </div>
        <div class ="col-4">
        <h2 class = "fw-bold text-center my-5">Login</h2>
  
        <!---- LOGIN-->
        <div class="container-fluid py-2">
            <form #form="ngForm" (ngSubmit)="onSubmit()" >
                <div class="mb-4">
                    <label for = "email" class="form-label">Identificación</label>
                    <input type = "email" class="form-control" name = "email" [(ngModel)] = "id">
                </div>
                <div class="mb-4">
                    <label for = "password" class="form-label">Contraseña</label>
                    <input type = "password" class="form-control" name = "password" [(ngModel)] = "password">
                </div>
                <div class="row">
                    <div class="col"><button type="submit" class="btn btn-outline-primary"> ENTRAR </button></div>
                    <div class="col"><button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearCuenta"> Crear Cuenta </button></div>
                </div>
                <div class = "row my-3">
  
                </div>
            </form>
        </div>
    </div>
    <div class = "col-1"></div>
        </div>
  </div>


  <div class="modal fade" id="crearCuenta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Direcciones de Usuario</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-3">
          <div class="container">
            <div class="row text-center">
              <div class="col"><label for = "provincia" class="form-label">Provincia</label></div>
              <div class="col"><label for = "canton" class="form-label">Cantón</label></div>
              <div class="col"><label for = "provincia" class="form-label">Distrito</label></div>
            </div>
            <div class="row">
              <div class="col"><input type = "text" class="form-control" name = "provincia" ></div>
              <div class="col"><input type = "text" class="form-control" name = "canton" ></div>
              <div class="col"><input type = "tex" class="form-control" name = "distrito" ></div>
            </div>
            
            <div class="row my-3 text-center">
              <div class="col-1"></div>
              <div class="col"><button class="btn btn-default" data-bs-dismiss="modal" style= "width: 100%;" >Añadir Dirección</button></div>
              <div class="col-1"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  