<div class="container py-5">
    <div class="row">
        <div class ="col" style= "align-items: center">
            <img src="./assets/img/LogoGrande.png" alt="Responsive image">
        </div>
        <div class ="col-4">
        <h2 class = "fw-bold text-center my-5">Login</h2>
  
        <!---- LOGIN-->
        <div class="container-fluid py-2">
            <form #form="ngForm" (ngSubmit)="onSubmit()" >
                <div class="mb-4">
                    <label for = "email" class="form-label">Identificación</label>
                    <input type = "email" class="form-control" name = "email" [(ngModel)] = "id">
                </div>
                <div class="mb-4">
                    <label for = "password" class="form-label">Contraseña</label>
                    <input type = "password" class="form-control" name = "password" [(ngModel)] = "password">
                </div>
                <div class="row">
                    <div class="col"><button type="submit" class="btn btn-outline-primary"> ENTRAR </button></div>
                    <div class="col"><a role="button" type="button"  class="btn can btn-primary" data-bs-toggle="modal" data-bs-target="#crearCuenta"> Crear Cuenta </a></div>
                </div>
                <div class = "row my-3">
  
                </div>
            </form>
        </div>
    </div>
    <div class = "col-1"></div>
        </div>
  </div>


  <div class="modal fade" id="crearCuenta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Crear Cuenta</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-3">

          <div class="container-fluid">
            <div class="row my-3">
              
              <div class="col-1">
              </div>
              <div class="col"> 
                <form #form="ngForm" (ngSubmit)="onGuardar()">
                    <div class="row">
          
                      <div class="col text-center">
                        <div class="row mt-4 right"><label for = "nombre" class="form-label">Nombre</label></div>
                        <div class="row mt-4 right"><label for = "correo" class="form-label">Correo</label></div>
                        <div class="row mt-4 right"><label for = "sinpe" class="form-label">Sinpe</label></div>
                        <div class="row mt-4 right"><label for = "tipo" class="form-label">Tipo</label></div>

                        <div class="row mt-4 right"><label for = "provincia" class="form-label">Provincia</label></div>
                        <div class="row mt-4 right"><label for = "canton" class="form-label">Cantón</label></div>
                        <div class="row mt-4 right"><label for = "distrito" class="form-label">Distrito</label></div>

                        <div class="row mt-4 right"><label for = "idComercio" class="form-label">ID</label></div>
                        <div class="row mt-4 right"><label for = "pass" class="form-label">Contraseña</label></div>
                      </div>
                      <div class="col">  
                        <div class="row mt-4"><input type = "text" class="form-control" name = "nombre" [(ngModel)] = "comercio.nombre" ></div>
                        <div class="row mt-4"><input type = "text" class="form-control" name = "correo" [(ngModel)] = "comercio.correo" ></div>
                        <div class="row mt-4"><input type = "number" class="form-control" name = "sinpe" [(ngModel)] = "comercio.sinpe" ></div>
                        <div class="row mt-4"><input type = "text" class="form-control" name = "tipo" [(ngModel)] = "comercio.tipo"></div>


                        <div class="row mt-4"><input type = "text" class="form-control" name = "provincia" [(ngModel)] = "comercio.provincia" ></div>
                        <div class="row mt-4"><input type = "text" class="form-control" name = "canton" [(ngModel)] = "comercio.canton" ></div>
                        <div class="row mt-4"><input type = "text" class="form-control" name = "distrito" [(ngModel)] = "comercio.distrito" ></div>

                        <div class="row mt-4"><input type = "number" class="form-control" name = "idComercio" [(ngModel)] = "comercio.idComercio"></div>
                        <div class="row mt-4"><input type = "text" class="form-control" name = "pass" [(ngModel)] = "comercio.pass" ></div>
                      </div>
                      
          
                    </div>
                    <div *ngIf="editMode; else newMode">
                      <div class="row my-5">
                        <div class="col"></div>
                        
                        <div class="col text-center offset-md-1"> <button type="submit" class="btn btn-outline-primary"> Actualizar </button> </div>
                        <div class="col text-center"> <a role="button" type="button" (click) = onEliminar() class="btn can btn-primary"> Eliminar </a></div>
                        <div class="col text-center"> <a role="button" type="button" (click) = onCancelar() class="btn can btn-primary"> Cancelar </a></div>
                        <div class="col"></div>
                      </div>                                                                      
                    </div>
                    
                    <ng-template #newMode>
                      <div class="row my-5">
                        <div class="col"></div>
                        <div class="col text-center offset-md-1"> <button (click)=prueba() type="submit" class="btn2 btn-outline-primary"> Añadir </button> </div>
                        <div class="col text-center"> <a role="button" type="button" (click) = onCancelar() class="btn2 can btn-primary"> Cancelar </a></div>
                        <div class="col"></div>
                      </div>
                    </ng-template>
                  </form>
              </div>
              <div class="col-2">
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>
  