<div class="container" *ngIf="logged">
  <ul class="nav flex-column">

      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion/cliente" routerLinkActive="tab-active">Mi Perfil</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion/comercios" routerLinkActive="tab-active">Comercios</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion/carrito" routerLinkActive="tab-active">Carrito de Compras</a>
      </li>
      <li class="nav-item">
        <a class = "tab"  (click)="logout()" >Log Out</a>
      </li>
    </ul>
  </div>
