<div class="container " *ngIf="logged">
  <ul class="nav flex-column">

      <li class="nav-item">
          <a class = "tab"  routerLink="{{id}}/mi-perfil" routerLinkActive="tab-active">Mi Perfil</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="{{id}}/comprar" routerLinkActive="tab-active">Comprar</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="{{id}}/en-curso" routerLinkActive="tab-active">Pedido en Curso</a>
      </li>
      <li class="nav-item">
        <a class = "tab"  (click)="logout()" >Log Out</a>
      </li>
    </ul>
  </div>
