<div class="container">
  <ul class="nav flex-column">

      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-citas" routerLinkActive="tab-active">Citas</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-clientes" routerLinkActive="tab-active">Clientes</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-trabajadores" routerLinkActive="tab-active">Trabajadores</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-proveedores" routerLinkActive="tab-active">Proveedores</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-insumos" routerLinkActive="tab-active">Insumos</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-lavados" routerLinkActive="tab-active">Lavados</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-sucursales" routerLinkActive="tab-active">Sucursales</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion-reportes" routerLinkActive="tab-active">Reportes</a>
      </li>
    </ul>
  </div>
