<div class="container-fluid">
  <div class="row my-3">

    <div class="col-1">
    </div>
    <div class="col">
      <div class="row my-3">
        <h2 class = "fw-bold offset-md-1">Información de Comercio</h2>
      </div>
      <form #form="ngForm" (ngSubmit)="onGuardar()">
          <div class="row">

            <div class="col text-center">
              <div class="row mt-4 right"><label for = "nombre" class="form-label">Nombre</label></div>
              <div class="row mt-4 right"><label for = "correo" class="form-label">Correo</label></div>
              <div class="row mt-4 right"><label for = "correo" class="form-label">Tipo</label></div>
              <div class="row mt-4 right"><label for = "idComercio" class="form-label">ID Comercio</label></div>
              <div class="row mt-4 right"><label for = "usuario" class="form-label">Contraseña</label></div>
            </div>
            <div class="col">
              <div class="row mt-4"><input type = "text" class="form-control" name = "nombre" [(ngModel)] = "objeto.nombre"></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "correo" [(ngModel)] = "objeto.correo"></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "tipo" [(ngModel)] = "objeto.tipo"></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "idComercio" [(ngModel)] = "objeto.idComercio"></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "usuario" [(ngModel)] = "objeto.pass"></div>
            </div>
            <div class="col-1"></div>

            <div class="col text-center">
              <div class="row mt-4 right"><label for = "sinpe" class="form-label">Sinpe</label></div>
              <div class="row mt-4 right"><label for = "provincia" class="form-label">Provincia</label></div>
              <div class="row mt-4 right"><label for = "canton" class="form-label">Cantón</label></div>
              <div class="row mt-4 right"><label for = "distrito" class="form-label">Distrito</label></div>

            </div>
            <div class="col">
              <div class="row mt-4"><input type = "text" class="form-control" name = "sinpe" [(ngModel)] = "objeto.sinpe" ></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "provincia" [(ngModel)] = "objeto.provincia" ></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "canton" [(ngModel)] = "objeto.canton" ></div>
              <div class="row mt-4"><input type = "text" class="form-control" name = "distrito" [(ngModel)] = "objeto.distrito" ></div>
              <div class="row mt-4"><a class="btn btn-primary" (click) = navigateTo() style= "width: 100%">Administrador</a></div>
            </div>

          </div>
          <div *ngIf="editMode; else newMode">
            <div class="row my-5">
              <div class="col"></div>

              <div class="col text-center offset-md-1"> <button type="submit" class="btn btn-outline-primary"> Actualizar </button> </div>
              <div class="col text-center"> <a role="button" type="button" (click) = onEliminar() class="btn can btn-primary"> Eliminar </a></div>
              <div class="col text-center"> <a role="button" type="button" (click) = onCancelar() class="btn can btn-primary"> Cancelar </a></div>
              <div class="col"></div>
            </div>
          </div>

          <ng-template #newMode>
            <div class="row my-5">
              <div class="col"></div>
              <div class="col text-center offset-md-1"> <button type="submit" class="btn btn-outline-primary"> Añadir </button> </div>
              <div class="col text-center"> <a role="button" type="button" (click) = onCancelar() class="btn can btn-primary"> Cancelar </a></div>
              <div class="col"></div>
            </div>
          </ng-template>
        </form>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>


<div class="modal fade" id="editarTelefonos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Teléfonos de Usuario</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
  </div>
</div>
</div>

