<div class="row">
    <div class="col-1"> </div>
    <div class="col">
      <div class="row mt-3">
          <a class="btn btn-primary" style= "width: 100%; font-size:x-large;" href="{{id}}/nuevo/productos" role="button">Añadir Nuevo Producto</a>
      </div>
      <div *ngFor="let n of lista; let i=index">
        <div *ngIf="crearFila(i)">
            <div class="row mt-4">
                <ng-template ngFor let-objeto [ngForOf] = "subLista(i)">
                    <div class="col">
                        <div class="container gy-1">
                            Producto
                            <div class="row m t-1"><h2>{{objeto.nombre}}</h2></div>
                            <button type="submit" [routerLink]="['',id,'actualizar-productos',objeto.nombre]" class="btn btn-outline-primary"> EDITAR </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngFor let-empleado [ngForOf] = "completar(i)">
                  <div class="col">
                      <div class="container gy-1" style="visibility: hidden;">
                      </div>
                  </div>
              </ng-template>
            </div>
        </div>
    </div>
    </div>
    <div class="col-1"> </div>
  </div>
