.container{
    text-align: center;
    background-color: white;
    width: 90%;
    box-shadow: 10px 10px 10px #000000b9;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
  }

  .btn{
    /*border-radius: 0%;*/
    background-color: black;
    border: 2px solid black;
    color: #FFFFFF;
    border-radius: 0PX;
    margin-top: 2%;
  }


  .btn:hover{
    background-color: #FFFFFF;
    color: black;
    border: 2px solid black;
  }
