.container{
    width: 100%;
    height: 100vh;
    background-color: black ;
    font-size:x-large;
    box-shadow: 10px 0px 15px #000000b9;
}


.tab {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.tab-active{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-left: 20px solid black;
    text-decoration: none;
}
