<div class="container" *ngIf="logged">
  <ul class="nav flex-column">

      <li class="nav-item">
          <a class = "tab"  routerLink="/{{id}}/gestion-productos" routerLinkActive="tab-active">Productos</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/{{id}}/nuevo-admin" routerLinkActive="tab-active">Administrador</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/{{id}}/gestion/pedidos" routerLinkActive="tab-active">Pedidos</a>
      </li>
    </ul>
  </div>
