<div class="container" *ngIf="logged">
  <ul class="nav flex-column">

      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion/productos" routerLinkActive="tab-active" (click)="recargar('productos')">Productos</a>
      </li>
      <li class="nav-item">
          <a class = "tab"  routerLink="/gestion/pedidos" routerLinkActive="tab-active" (click)="recargar('pedidos')">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class = "tab"  routerLink="/gestion/perfil/{{id}}" routerLinkActive="tab-active">Mi Perfil</a>
    </li>
    </ul>
  </div>
