<div class="container-fluid">
    <div class="row my-3">
      
      <div class="col-1">
      </div>
      <div class="col"> 
        <div class="row my-3">  
            <div class="col offset-md-1"><h2 class = "fw-bold ">Información de <br> Comercio</h2></div>
            <div class="col offset-md-1"><h2 class = "fw-bold offset-md-1">Información <br> Administrador</h2></div>
            <div class="col offset-md-1"><h2 class = "fw-bold offset-md-1">Estado de <br> Solicitud</h2></div>
          
        </div>
        <form #form="ngForm" (ngSubmit)="onEnviar()">
            <div class="row">
  
              <div class="col text-center">
                <div class="row mt-4 right"><label for = "nombre" class="form-label">Nombre</label></div>
                <div class="row mt-4 right"><label for = "correo" class="form-label">Correo</label></div>
                <div class="row mt-4 right"><label for = "correo" class="form-label">Tipo</label></div>
                <div class="row mt-4 right"><label for = "idComercio" class="form-label">ID Comercio</label></div>
                <div class="row mt-4 right"><label for = "sinpe" class="form-label">Sinpe</label></div>
                <div class="row mt-4 right"><label for = "provincia" class="form-label">Provincia</label></div>
                <div class="row mt-4 right"><label for = "canton" class="form-label">Cantón</label></div>
                <div class="row mt-4 right"><label for = "distrito" class="form-label">Distrito</label></div>
             </div>
              <div class="col">
                <div class="row mt-4"><input type = "text" class="form-control" name = "nombre" [(ngModel)] = "objeto.nombre" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "correo" [(ngModel)] = "objeto.correo" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "tipo" [(ngModel)] = "objeto.tipo" disabled></div>
                <div class="row mt-4"><input type = "number" class="form-control" name = "idComercio" [(ngModel)] = "objeto.idComercio" disabled></div>
                <div class="row mt-4"><input type = "number" class="form-control" name = "sinpe" [(ngModel)] = "objeto.sinpe" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "provincia" [(ngModel)] = "objeto.provincia" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "canton" [(ngModel)] = "objeto.canton" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "distrito" [(ngModel)] = "objeto.distrito" disabled></div>
        
              
            </div>
              <div class="col-1"></div>
              
              <div class="col text-center">
                <div class="row mt-4 right"><label for = "nombreA" class="form-label">Nombre</label></div>
                <div class="row mt-4 right"><label for = "apellidosA" class="form-label">Apellidos</label></div>
                <div class="row mt-4 right"><label for = "correoA" class="form-label">Correo </label></div>
                <div class="row mt-4 right"><label for = "usuarioA" class="form-label">Usuario</label></div>
                <div class="row mt-4 right"><label for = "idAdmin" class="form-label">ID Admin</label></div>
                <div class="row mt-4 right"><label for = "provinciaA" class="form-label">Provincia</label></div>
                <div class="row mt-4 right"><label for = "cantonA" class="form-label">Cantón</label></div>
                <div class="row mt-4 right"><label for = "distritoA" class="form-label">Distrito</label></div>  
            </div>
              <div class="col">
                <div class="row mt-4"><input type = "text" class="form-control" name = "nombreA" [(ngModel)] = "adminComercio.nombre" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "apellidosA" [(ngModel)] = "adminComercio.apellidos" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "correoA" [(ngModel)] = "adminComercio.correo" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "usuarioA" [(ngModel)] = "adminComercio.usuario" disabled></div>
                <div class="row mt-4"><input type = "number" class="form-control" name = "idAdmin" [(ngModel)] = "adminComercio.idAdmin" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "provinciaA" [(ngModel)] = "adminComercio.provincia" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "cantonA" [(ngModel)] = "adminComercio.canton" disabled></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "distritoA" [(ngModel)] = "adminComercio.distrito" disabled></div>

              </div>

              <div class="col-1"></div>
              <div class="col text-center">
                <h2>{{objeto.solicitud}}</h2>
                <div *ngIf="razon!=''">
                  <span>Razón: {{razon}}</span>
                </div>
                <div *ngIf="!solicitudEnviada; else enviar">
                  <div class="col"> <button type="submit" class="btn btn-outline-primary" style=" width:100%; height:100%"> Enviar Solicitud </button> </div>
                </div>
                <ng-template #enviar>
                  <div class="col"><button type="button" class="btn btn-outline-primary" style=" width:100%; height:100%" (click) = onCancelar()> Cancelar Solicitud </button> </div>
                </ng-template>
              </div>

              <div class="col-1"></div>
            </div>
          </form>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
